    <%= render "shared/navbar", {text:"Category", path:root_path, visible:"visible"} %>

    <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-15", style="margin-top: 150px;">
      <table class="w-full border-collapse bg-white text-left text-sm text-gray-500 mt-15">
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
          <tr class="hover:bg-gray-50">
            <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
            
            <% @categories.each do |category| %>
             <div class="text-sm">
              <div class="relative h-10 w-10">
                <img
                class="h-full w-full rounded-full object-cover object-center"
                src="<%= category.icon %>"
                alt=""
                /> 
            </div>
             <%= link_to category_transaction_index_path(category.id), class:"nav-link" do %>
              <div class="font-medium text-gray-700"><%= category.name %></div>
                <div class="text-gray-400"><%= category.created_at %></div>
              </div>
            
            
            <td class="px-6 py-4">0$</td>
             <td class="px-6 py-4">
              <div class="flex gap-2">
                
               </div>
              </td>
            
            <td class="px-6 py-4">
            <div class="flex justify-end gap-4">
                <%= button_to category_path(category.id), method: :delete do %>
                <a x-data="{ tooltip: 'Delete' }" href="#">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                    x-tooltip="tooltip"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                </svg>
                </a>
           
             </div>
            </tr>
        <tr class="hover:bg-gray-50">
            <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
           
           
             <% end %>
            <% end %>
          <% end %>
          </td>
          </th>
         </th>
        </tr>
      </tbody>
    </table>
  </div>





    <%= link_to new_category_path,class:"nav-link" do %>
        <button class="block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded", style="margin-top: 20px;">Add New Category</button>
    <% end %>

