<%= render "shared/navbar", {text:"Transaction", path:root_path, visible:"visible"} %> 


   <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-15", style="margin-top: 150px;">
      <table class="w-full border-collapse bg-white text-left text-sm text-gray-500 mt-15">
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
          <tr class="hover:bg-gray-50">
            <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
            <h1> <%= @total %> </h1>
            <% @transactions.each do |transaction| %>
             <div class="text-sm">
              <div class="relative h-10 w-10">
                <img
                class="h-full w-full rounded-full object-cover object-center"
                src=""
                alt=""
                /> 
            </div>
             
              <div class="font-medium text-gray-700"><%= transaction.name %></div>
                <div class="text-gray-400"><%= transaction.created_at %></div>
              </div>
            
            
            <td class="px-6 py-4"><%= transaction.amount %></td>
             <td class="px-6 py-4">
              <div class="flex gap-2">
                
               </div>
              </td>
            
            <td class="px-6 py-4">
            
            </tr>
        <tr class="hover:bg-gray-50">
            <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
           
           
             <% end %>
            
          </td>
          </th>
         </th>
        </tr>
      </tbody>
    </table>
  </div>

<%= link_to new_category_transaction_path(params[:category_id]),class:"nav-link" do %>
        <button class="block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded", style="margin-top: 100px;">Add New Transaction</button>
    <% end %>
